.main-container{
    display: flex;
    justify-content: space-around;
}

.profil{
    text-align: left;
}

.rentals-list{
    text-align: left;
}

.list-items li{
    padding-left: 0;
}

.update-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
}