.paper {
    width: 30%;
    height: 50%;
    background-color: white;
    margin: auto;
    overflow: 'hidden';
  }
.searchBar {
    border-bottom: '1px solid rgba(0, 0, 0, 0.12)';
  }
//   .searchInput {
//     font-size: theme.typography.fontSize;
//   }
  .block {
    display: 'block'
  }
//   .addUser {
//     margin-right: theme.spacing(1);
//   }
  .contentWrapper {
    margin: '40px 16px',
  }

  .modal-style{
      height: 80px;
  }

  