.main-list-container{
    display: flex;
    text-align: left;
    justify-content: space-around;
}

.buttons .main-button {
    background-color: seagreen;
}

.main-infos{
    width: 250px;
}
.other-infos{
    width: 250px;
}
.status{
    width: 250px;
}
.buttons{
    width: 250px;
}