.container{
    display: flex;
}

.car-list{
    padding: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
}

.car-card{
    width: 400px;
    margin-bottom: 30px;
}


.agency-details{
    padding: 50px;
}

.MuiCardMedia-root{
    height: 300px;
}

.filter-bar{
    display: flex;
    align-items: center;
    padding: 0px 40px 40px 40px;
    justify-content: space-around;
    width: 100%;
}

.MuiFormControl-root{
    width: 140px;
    margin-right: 30px;
}


.select-container{
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../images/samuele-errico-piccarini-FMbWFDiVRPs-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.form-container{
    opacity: 0.9;
    width: 50vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.agencies-list{
    width: 80%;
}

.MuiPopover-root{
    width: 20%;
    height: 30%;
}

.search-button{
    margin-top: 5%;
}

.search-button button{
    width: 40%;
    background-color: white;
    color: black;
}

.louer{
    width: 100%;
    height: 70vh;
    background-image: url(../../images/senegal.jpg);
    background-size: cover;
}

.user-infos{
    width: 100%;
    height: 70vh;
}

.typist{
    color: white;
    position: absolute;
    padding-bottom: 28%;
    font-size: 1.6em;
    
}