.NavBar{

  position: sticky;
    top: 0px;
    z-index: 1000;
  .MuiPaper-root{
    color: black;
    background: white;
  }
  .tool-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-button {
    display: flex;
    justify-content: space-between;
    width: 280px;
  }

  .MuiPaper-root a {
    color: black;
  }

  .user-in-session{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-around;
  }

  .connexion-button{
    background-color: black;
    color: white;
  }
  
  .logo{
    width: 47px;
  }

  

  @media(max-width: 768px){
    .menu{
      position: absolute;
      right: 0px;
    }

    .menu-in-session{
      position: absolute;
      right: 0px;
      top: 49px;
    }
    .user-in-session{
      width: auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    .logo{
      width: 38px;
    }
  }

}


.notification-modal{
  background-color: white;
  position: absolute; 
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40;
  border: 2px solid #000;
  padding: 15px;
  border: hidden;
  border-radius: 5px;
}