.NavBar{
  .MuiPaper-root{
    color: black;
    background: white;
  }
  .tool-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .nav-button {
    display: flex;
    justify-content: space-between;
    width: 280px;
  }

  .MuiPaper-root a {
    color: black;
  }

  .user-in-session{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-around;
  }

  .connexion-button{
    background-color: black;
    color: white;
  }
}

