.confirmation-modal{
        position: absolute;
        width: 40;
        background-color: white;
        border: 2px solid #000;
        top: 32%;
        left: 37%;
        padding: 50px;
        border: hidden;
}

.car-div{
    height: 75vh;
    width: 100%;
}

.car-image{
    width: 100%;
    height: 75vh;
    object-fit: cover;
}

.car-infos{
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
}

.align-infos{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-start;
}

.align-infos img{
    width: 30px;
    margin-right: 15px;
}

.main-container{
    width: 70%;
    margin: auto;
}

.MuiPaper-root{
    padding: 10px;
}

.date-time-picker{
    width: 100%;
}

.rental-infos{
    text-align: -webkit-center;
    width: 40%;
}

@media(max-width: 768px){
    .App{
        .main-container {
            display: block;
            width: 100%;
        }
    .car-infos{
        padding: 0;
    }
    .date-time-picker{
        width: 80%;
    }
    .car-div .car-image{
        object-fit: cover;
        height: 26vh;
    }
    .car-div{
        height: 30vh;
    }
    .rental-infos{
        width: 100%;
    }
}
        .confirmation-modal{
            position: absolute;
            width: 40;
            background-color: white;
            border: 2px solid #000;
            top: 12%;
            left: 0%;
            padding: 50px;
            border: hidden;
        }
}