.car-reservation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmation-modal{
        position: absolute;
        width: 40;
        background-color: white;
        border: 2px solid #000;
        top: 32%;
        left: 37%;
}


.car-div{
    height: 75vh;
    width: 100%;
}

.car-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}